<div data-sly-use.hero="hero.js" class="we-HeroImage width-full ratio-16by9" style="${hero.style @ context='styleString'}">
        <div class="container cq-dd-image">
            <div class="we-HeroImage-wrapper">
                
                <strong class="we-HeroImage-title">${hero.text}</strong>

            </div>
        </div>
    </div>